@model IEnumerable<siekskul.Models.PendaftaranEkstrakurikuler>

<h2>Status Pendaftaran Ekstrakurikuler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ekstrakurikuler</th>
            <th>Tanggal Pendaftaran</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ekstrakurikuler.Nama</td>
                <td>@item.TanggalPendaftaran.ToShortDateString()</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Ekstrakurikuler" asp-action="ListForSiswa" class="btn btn-primary">Daftar Ekstrakurikuler Baru</a>