@using System.Security.Claims
<!-- App header starts -->
<div class="app-header d-flex align-items-center">
    <!-- Toggle buttons start -->
    <div class="d-flex">
        <button class="btn btn-primary me-2 toggle-sidebar" id="toggle-sidebar">
            <i class="bi bi-chevron-left fs-5"></i>
        </button>
        <button class="btn btn-primary me-2 pin-sidebar" id="pin-sidebar">
            <i class="bi bi-chevron-left fs-5"></i>
        </button>
    </div>
    <!-- Toggle buttons end -->
    <!-- App brand sm start -->
    <div class="app-brand-sm d-md-none d-sm-block">
        <a href="index.html">
            <img src="~/assets/images/logo-sm.svg" class="logo" alt="Bootstrap Gallery">
        </a>
    </div>
    <!-- App brand sm end -->
    <!-- App header actions start -->
    <div class="header-actions">
        <div class="d-lg-block d-none me-2">
            <!-- Search container start -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <button class="btn btn-outline-primary" type="button">
                    <i class="bi bi-search fs-5"></i>
                </button>
            </div>
            <!-- Search container end -->
        </div>
        <div class="dropdown ms-3">
            @if (User.Identity.IsAuthenticated)
            {
                <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none"
                   href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="d-none d-md-block me-2">@User.Identity.Name (@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value)</span>                    
                    <img src="~/assets/images/user.png" class="rounded-circle img-3x" alt="Bootstrap Gallery" />
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <a class="dropdown-item d-flex align-items-center" asp-controller="Profile" asp-action="Index">
                        <i class="bi bi-person fs-4 me-2"></i>Profile
                    </a>                    <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();">
                        <i class="bi bi-box-arrow-right fs-4 me-2"></i>Logout
                    </a>
                </div>
                <form id="logoutForm" asp-controller="Auth" asp-action="Logout" method="post" style="display: none;"></form>
            }
            else
            {
                <a class="btn btn-primary" asp-controller="Auth" asp-action="Login">Login</a>
            }
        </div>
    </div>
    <!-- App header actions end -->
</div>

@* <a class="dropdown-item d-flex align-items-center" href="settings.html">
                    <i class="bi bi-gear fs-4 me-2"></i>Account Settings
                </a>
                <a class="dropdown-item d-flex align-items-center" href="login.html">
                    <i class="bi bi-escape fs-4 me-2"></i>Logout
                </a>
 *@ 