@model siekskul.Models.Ekstrakurikuler

@{
    ViewData["Title"] = "Daftar Ekstrakurikuler";
}

<h1>Daftar Ekstrakurikuler</h1>

<h3>Apakah Anda yakin ingin mendaftar ke ekstrakurikuler ini?</h3>
<div>
    <h4>@Model.Nama</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nama</dt>
        <dd class="col-sm-10">@Model.Nama</dd>
        <dt class="col-sm-2">Deskripsi</dt>
        <dd class="col-sm-10">@Model.Deskripsi</dd>
        <dt class="col-sm-2">Pembimbing</dt>
        <dd class="col-sm-10">@Model.Guru.User.FullName</dd>
    </dl>

    <form asp-action="DaftarConfirm">
        <input type="hidden" asp-for="EkstrakurikulerId" />
        <input type="submit" value="Daftar" class="btn btn-primary" /> |
        <a asp-action="Index">Kembali ke Daftar</a>
    </form>
</div>