@model siekskul.Models.Ekstrakurikuler

<h2>Hapus Ekstrakurikuler</h2>

<h3>Apakah Anda yakin ingin menghapus ekstrakurikuler ini?</h3>
<div>
    <h4>@Model.Nama</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nama</dt>
        <dd class="col-sm-10">@Model.Nama</dd>

        <dt class="col-sm-2">Deskripsi</dt>
        <dd class="col-sm-10">@Model.Deskripsi</dd>

        <dt class="col-sm-2">Pembimbing</dt>
        <dd class="col-sm-10">@Model.Guru?.User?.FullName</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EkstrakurikulerId" />
        <input type="submit" value="Hapus" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Batal</a>
    </form>
</div>