@* @model IEnumerable<siekskul.Models.Ekstrakurikuler>

<h2>Daftar Ekstrakurikuler untuk Siswa</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Pembimbing</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nama</td>
                <td>@item.Deskripsi</td>
                <td>@item.Guru.User.FullName</td>
                <td>
                    <a asp-action="Daftar" asp-route-id="@item.EkstrakurikulerId">Daftar</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@